* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  min-height: 100vh;
  position: relative;
  color: #fff;
  background-color: #ff7a7a;
  opacity: 1;
}

body::after {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background: url(/images/bg-intro-mobile.png);
}

.container {
  position: relative;
  z-index: 1;
  width: 85%;
  margin: auto;
  min-width: 320px;
}

.content--first {
  padding-top: 4em;
  text-align: center;
}

.content--first .first__title {
  padding: 0 .5em 1em .5em;
}

.content--secondary {
  padding: 2em 0;
}

.content--secondary .secondary__price {
  width: 100%;
  background: #6055a5;
  border-radius: 1em;
  text-align: center;
}

.content--secondary .secondary__price .price__text {
  font-size: 15px;
  padding: 1em 2em;
}

.content--secondary .secondary__price .price__text--bold {
  font-weight: 700;
}

.content--secondary .secondary__form {
  background: #fff;
  border-radius: 1em;
  margin-top: 2em;
  width: 100%;
}

.content--secondary .secondary__form .form__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  margin: auto;
  padding: 2em 0;
}

.content--secondary .secondary__form .form__container input {
  border-radius: .5em;
  border: 0.5px solid #b9b6d3;
  width: 100%;
  padding: 1em 0 1em 1em;
  margin-bottom: 1em;
}

.content--secondary .secondary__form .form__container .submit--button {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
  padding: 1em 0;
  background: #38cc8c;
  border: none;
  border-radius: .5em;
  color: #fff;
}

.content--secondary .secondary__form .form__container p {
  text-align: center;
  font-size: 10px;
  padding: 1em;
  color: #b9b6d3;
}

.content--secondary .secondary__form .form__container p .termsNservices--colored {
  color: #ff7a7a;
}
